# dropna() function
It is used to drop empty datafields.It has many parameters like:
- how
- axis
- subset

In [2]:
import pandas as pd

titanic=pd.read_csv("titanic.csv")
titanic.shape

(891, 12)

In [3]:
titanic.dropna().shape

(183, 12)

"how" in dropna() is used set the behaviour of the function: 
- "any" drop the row, where it find any vacant field.(default)
- "all" drop the row, when whole row is vacant.

In [4]:
titanic.dropna(how="all").shape

(891, 12)

axis=0, means "row" (default) and axis=1 means "column"

In [6]:
titanic.dropna(how="all",axis=1).shape

(891, 12)

subset is an another parameter that is used to apply the dropna on specific columns.

In [11]:
titanic.dropna(subset=["Cabin","Fare"]).shape

(204, 12)