# fillna() function
- latter is used to fill empty datafields.
- We can apply it on individual column too.
- It has parameter, "method" which can have 
1. bfill= backward fill
2. ffill=forwardfill

In [1]:
import pandas as pd

titanic=pd.read_csv("titanic.csv")
titanic.shape

(891, 12)

In [3]:
titanic["Cabin"].fillna("Not Specified")

0      Not Specified
1                C85
2      Not Specified
3               C123
4      Not Specified
           ...
886    Not Specified
887              B42
888    Not Specified
889             C148
890    Not Specified
Name: Cabin, Length: 891, dtype: object

In [5]:
titanic["Age"].fillna(method="bfill")

C:\Users\anupr.GAUTAM\AppData\Local\Temp\ipykernel_20484\2335811478.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  titanic["Age"].fillna(method="bfill")

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    26.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64